@media screen and (max-width: 1024px) {
  .bottom_wood {
    display: none;
  }
}

/*==========  Mobile First  ==========*/

@media (min-width: 320px) and (max-width: 349px) {
  body h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .first-section {
    padding: 10px 0;
    min-height: 790px;
    .main {
      h1 {
        font-size: 18px;
        line-height: 24px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .bottom_frame {
      padding: 0;
    }
    .bottom_section {
      p {
        font-size: 20px;
        line-height: 30px;
        text-align: right;
        padding: 1em 0;
      }
    }
    .section-contacts {
      flex-direction: column-reverse;
      .phones {
        font-size: 24px;
        line-height: 30px;
        span {
          display: none;
        }
      }
    }
  }
  .we {
    p {
      font-size: 16px;
      line-height: 24px;
    }
    .frame {
      top: 50%;
      // height: 410px;
    }
  }
  .btn {
    font-size: 20px;
    line-height: 30px;
    padding: 3px 28px;
  }
  .kitchen {
    .frame {
      .text_block {
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .projects {
    h2 {
      font-size: 24px;
      line-height: 36px;
    }
    .subheader {
      font-size: 16px;
      line-height: 26px;
    }
    .video_slider {
      video {
        padding: 10px;
        width: 100%;
      }
      p {
        display: none;
      }
    }
    .projects_next,
    .projects_prev {
      bottom: -25px;
    }
    .projects_next {
      right: 10px;
    }
    .projects_prev {
      left: 10px;
    }
    .projects_frame {
      top: 350px;
      height: 162px;
    }
  }
  .partners {
    margin: 130px 0 0;
  }
  .partners_band {
    padding: 20px 60px;
  }
}

@media (min-width: 350px) and (max-width: 419px) {
  .we {
    padding: 230px 10px;
    .frame {
      top: 54%;
      // height: 394px;
    }
  }
  .first-section {
    min-height: 800px;
    ul {
      display: none;
    }
    .main {
      h1 {
        font-size: 24px;
        line-height: 36px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .bottom_frame {
      padding: 15px;
    }
    .bottom_section p {
      font-size: 18px;
      line-height: 22px;
      padding: 1em 0;
    }
    .section-contacts {
      flex-direction: column-reverse;
      .phones {
        font-size: 24px;
        line-height: 30px;
        span {
          display: none;
        }
      }
    }
  }
  .contacts {
    flex-direction: column;
  }
  .kitchen {
    .frame {
      .text_block {
        h2 {
          font-size: 20px;
          line-height: 30px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .projects {
    .video_slider {
      video {
        padding: 10px;
        width: 100%;
      }
      p {
        display: none;
      }
    }
    .projects_next,
    .projects_prev {
      bottom: -35px;
    }
    .projects_next {
      right: 10px;
    }
    .projects_prev {
      left: 10px;
    }
    .projects_frame {
      top: 350px;
      height: 155px;
    }
  }
}

@media (min-width: 420px) and (max-width: 576px) {
  .first-section {
    ul {
      display: none;
    }
    .main h1 {
      font-size: 28px;
      line-height: 40px;
    }
    .bottom_frame {
      padding: 15px;
    }
    .bottom_section p {
      font-size: 22px;
      line-height: 31px;
      padding: 1em 0;
    }
    .section-contacts {
      flex-direction: column;
    }
  }
  .we {
    padding: 260px 20px;
    .frame {
      top: 54%;
      // height: 394px;
    }
  }
  .kitchen {
    .frame {
      .text_block {
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .projects {
    .video_slider {
      video {
        padding: 10px;
        width: 100%;
      }
      p {
        display: none;
      }
    }
    .projects_next,
    .projects_prev {
      bottom: -35px;
    }
    .projects_next {
      right: 10px;
    }
    .projects_prev {
      left: 10px;
    }
    .projects_frame {
      top: 350px;
      height: 180px;
    }
  }
}

@media screen and (min-width: 577px) {
  .projects {
    .video_slider {
      video {
        padding: 10px;
        width: 80%;
      }
    }
    .projects_next,
    .projects_prev {
      bottom: unset;
      top: 25%;
      // transform: translate(0, 50%);
    }
    .projects_next {
      right: 0;
    }
    .projects_prev {
      left: 0;
    }
    .projects_btn {
      display: none;
    }
    .projects_frame {
      top: 230px;
      height: 650px;
    }
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .first-section {
    ul {
      display: none;
    }
    .bottom_section p {
      font-size: 24px;
      line-height: 31px;
    }
    .main h1 {
      font-size: 28px;
      line-height: 40px;
    }
  }
  .we {
    .frame {
      top: 50%;
      // height: 400px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .first-section {
    min-height: 810px;
    .main p {
      line-height: 24px;
      font-size: 18px;
    }
    .main h1 {
      font-size: 44px;
      line-height: 50px;
    }
    .bottom_section p {
      font-size: 24px;
      line-height: 31px;
    }
  }
  .we {
    .frame {
      top: 50%;
      left: 2%;
      right: 2%;
      // height: 400px;
    }
  }
}

@media screen and (max-width: 992px) {
  .comment {
    padding: 20px;
    p {
      font-size: 10px;
      line-height: 16px;
    }
  }

  .kitchen .kitchen_text h2 {
    font-size: 24px;
  }
  .mebel p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .we {
    .frame {
      top: 30%;
      bottom: 6.5%;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .comment {
    padding: 20px;
    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 2400px) {
  .comment {
    padding: 40px;
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .we {
    .frame {
      bottom: 8.5%;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .kitchen .frame {
    padding: 0 18px;
    .text_block p {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .kitchen {
    .right {
      flex-direction: row-reverse;
      .text_block {
        text-align: right;
        h2 {
          text-align: right;
        }
      }
      .btn {
        float: right;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .we {
    padding: 250px 30px 30px;
    .we_slider {
      display: block;
    }
    .block {
      margin-right: 30px;
      .comment {
        display: none;
      }
    }
  }
  .first-section {
    padding: 0 30px 30px;
    .main {
      h1 {
        margin-top: 75px;
      }
    }
    .section-contacts {
      display: flex;
      margin: 0;
    }
  }
  .kitchen {
    .kitchen_body {
      display: none;
    }
    .frame {
      padding: 0;
      display: block;
      .kitchen_frm {
        top: 0;
        bottom: 0;
      }
      .text_block {
        h2,
        p {
          text-align: center;
        }
        .btn {
          float: none;
        }
      }
    }
  }
  .kitchen_next_w,
  .kitchen_prev_w {
    bottom: -45px;
  }

  .kitchen_bottom_wood,
  .kitchen_bottom_wood_right {
    display: none;
  }
  .btn {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .mebel .dotted_black {
    border-style: none;
    border-bottom-style: dotted;
    border-top-style: dotted;
  }
}
@media screen and (max-width: 768px) {
  .kitchen {
    .frame {
      border-style: dotted;
      border-color: rgba(255, 255, 255, 1);
      border-image-source: url("../img/dots/dots_white.svg");
      border-image-slice: 10% 10%;
      border-image-repeat: round;
    }
    .kitchen_frm {
      display: none;
    }
  }
  footer {
    flex-direction: column-reverse;
    .nordic {
      margin-bottom: 30px;
    }
    .copy {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 501) {
  .partners_band {
    display: block;
  }
}
